body {
  font-family: 'Lato', sans-serif;
  background-color: #ecf0f1;
  font-size: large;
  line-height: 1.5;
  color: #160000;
}

h2, h3 {
  color: #7f8c8d;
}


h2 {
  font-weight: 900;
  font-size: large;
}

h3 {
  font-weight: 700;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #2980b9;
  text-decoration: underline;
}

#name {
  font-weight: 900;
  color: #2c3e50;
}

.text-center {
  text-align: center;
}

.img-round-border {
  border-radius: 5%;
}

.container {
  width: 90%;
  margin: 30px auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.button {
  background-color: #3498db;
  color: white;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

.img-vignette {
  width: 100px;
}

.button:hover {
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}


.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

/* sidebar */

#list-sidebar {
  padding-left: 0px;
}

#list-sidebar > li {
  padding-bottom: 30px;
  font-size: x-large;
}

#list-sidebar a:hover {
  color: white;
}

#sidebar {
  position: fixed;
  width: 15%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #2c3e50;
}

#page-content {
  right: 0;
  margin-left: 15%;
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
  }

  #page-content {
    margin-left: 0px;
  }
}

#wrapper {
  position: relative;
  padding: 5px;
}

@media (min-width: 1000px) {
  #sidebar {
    width: 150px;
  }

  #page-content {
    margin-left: 150px;
  }
}
